* {
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

html,
body {
  scroll-behavior: smooth;
  overflow: overlay;
}

.main {
  display: grid;
}

.menu {
  display: flex;
  position: fixed;
  width: 632px;
  height: 65px;
  left: 1029px;
  background-color: #202225;
  border-radius: 0px 0px 30px 30px;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.link {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 24px;
  padding-bottom: 2px;
  border-bottom: 2px solid #202225;
  transition: 0.5s;
}

.menu a:hover {
  border-bottom: 2px solid #ffffff;
}

.link-active {
  border-bottom: 2px solid #ffa200;
}

.title {
  width: 100%;
  height: 100vh;
  background-image: url("/bg.png");
  display: grid;
  justify-items: center;
  align-items: center;
}

.logo {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

h1 {
  font-size: 60px;
  color: white;
  font-family: "Raleway", sans-serif;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.54);
}

button {
  background-color: #202225;
  border: 0;
  width: 194px;
  height: 56px;
  border-radius: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;
  outline: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  backface-visibility: hidden;
}

button:hover {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 20px;
  transform: perspective(1px) scale(1.1);
}

button a {
  width: 100%;
  height: 100%;
}
.logo .log {
  margin-bottom: 18px;
}

.logo h1 {
  margin-bottom: 37px;
}

.arrow {
  position: absolute;
  display: grid;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  bottom: -55%;
  justify-items: center;
  align-items: center;
  transition: 0.5s;
}

.arrow:hover {
  transform: perspective(1px) scale(1.1);
}

.arrow a {
  height: 25px;
}

.crew {
  display: grid;
  width: 100%;
  height: 100vh;
  background-image: url("/bgp.png");
  justify-items: center;
  align-items: center;
}

.persons {
  display: grid;
  width: 90%;
  height: 60%;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.person {
  display: grid;
  height: 95%;
  justify-items: center;
  align-items: center;
}

.person img {
  border-radius: 30px;
  width: 90%;
}
.person p {
  color: white;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-align: center;
  row-gap: 32px;
}

.rules {
  width: 100%;
  height: 100vh;
  background-image: url("/rbg.png");
  background-color: #31363e;
  display: grid;
  justify-items: center;
  align-items: center;
}

.category {
  width: 55%;
  height: 85%;
  display: grid;
  overflow: auto;
  row-gap: 33px;
  animation: show 1s linear;
}

.rule {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-rows: 0fr 1fr;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.rule h3 {
  font-size: 40px;
  padding-bottom: 33px;
}

.rule ul {
  padding: 0;
  list-style-type: none;
  font-size: 20px;
}

.rule li {
  padding-bottom: 5px;
  letter-spacing: 1px;
  transition: 0.25s;
}

.rule li:hover {
  color: #ffa200;
  cursor: default;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.faq {
  width: 100%;
  height: 100vh;
  background-image: url("/rbg.png");
  background-color: #31363e;
  display: grid;
  justify-items: center;
  align-items: center;
}
